<!-- Rooms -->
<section class="rooms1 section-padding bg-cream" data-scroll-index="1">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-subtitle">WOODWORKING EDO</div>
                <div class="section-title">PRODUCTS</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="item">
                    <div class="position-re o-hidden"> <img
                            src="{{ site.url }}/woodimage/tijana-drndarski-j2ImpvUCstE-unsplash.jpg" alt=""> </div>
                    <span class="category"><a href="#">Book</a></span>
                    <div class="con">
                        <h6><a href="#">Premium Log</a></h6>
                        <h5><a href="#">Rp. 200.000</a></h5>
                        <div class="line"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="item">
                    <div class="position-re o-hidden"> <img
                            src="{{ site.url }}/woodimage/robin-joshua-d4w_WrNEnzs-unsplash.jpg" alt=""> </div> <span
                        class="category"><a href="#">Detail</a></span>
                    <div class="con">
                        <h6><a href="#">Hardwood Premium</a></h6>
                        <h5><a href="#">Rp. 200.000</a></h5>
                        <div class="line"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>