<!-- Team -->
<section class="team section-padding bg-cream">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-subtitle">Professionals</div>
                <div class="section-title">Meet The Team</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 owl-carousel owl-theme">
                <div class="item">
                    <div class="img"> <img src="{{ site.cdn }}img/team/4.jpg" alt=""> </div>
                    <div class="info">
                        <h6>Valentina Karla</h6>
                        <p>General Manager</p>
                        <div class="social valign">
                            <div class="full-width">
                                <a href="about.html#"><i class="ti-instagram"></i></a>
                                <a href="about.html#"><i class="ti-twitter"></i></a>
                                <a href="about.html#"><i class="ti-facebook"></i></a>
                                <a href="about.html#"><i class="ti-pinterest"></i></a>
                                <p>valentina@woodusahaedo.com</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="img">
                        <img src="{{ site.cdn }}img/team/1.jpg" alt="">
                    </div>
                    <div class="info">
                        <h6>Micheal White</h6>
                        <p>Guest Service Department</p>
                        <div class="social valign">
                            <div class="full-width">
                                <a href="about.html#"><i class="ti-instagram"></i></a>
                                <a href="about.html#"><i class="ti-twitter"></i></a>
                                <a href="about.html#"><i class="ti-facebook"></i></a>
                                <a href="about.html#"><i class="ti-pinterest"></i></a>
                                <p>micheal@woodusahaedo.com</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="img"> <img src="{{ site.cdn }}img/team/2.jpg" alt=""> </div>
                    <div class="info">
                        <h6>Olivia Martin</h6>
                        <p>Reservations Manager</p>
                        <div class="social valign">
                            <div class="social valign">
                                <div class="full-width">
                                    <a href="about.html#"><i class="ti-instagram"></i></a>
                                    <a href="about.html#"><i class="ti-twitter"></i></a>
                                    <a href="about.html#"><i class="ti-facebook"></i></a>
                                    <a href="about.html#"><i class="ti-pinterest"></i></a>
                                    <p>olivia@woodusahaedo.com</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="img"> <img src="{{ site.cdn }}img/team/5.jpg" alt=""> </div>
                    <div class="info">
                        <h6>Mariana Dana</h6>
                        <p>F&B Manager</p>
                        <div class="social valign">
                            <div class="full-width">
                                <a href="about.html#"><i class="ti-instagram"></i></a>
                                <a href="about.html#"><i class="ti-twitter"></i></a>
                                <a href="about.html#"><i class="ti-facebook"></i></a>
                                <a href="about.html#"><i class="ti-pinterest"></i></a>
                                <p>mariana@woodusahaedo.com</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="img"> <img src="{{ site.cdn }}img/team/3.jpg" alt=""> </div>
                    <div class="info">
                        <h6>Enrico Brown</h6>
                        <p>Head Chef</p>
                        <div class="social valign">
                            <div class="full-width">
                                <a href="about.html#"><i class="ti-instagram"></i></a>
                                <a href="about.html#"><i class="ti-twitter"></i></a>
                                <a href="about.html#"><i class="ti-facebook"></i></a>
                                <a href="about.html#"><i class="ti-pinterest"></i></a>
                                <p>enrico@woodusahaedo.com</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="img"> <img src="{{ site.cdn }}img/team/6.jpg" alt=""> </div>
                    <div class="info">
                        <h6>Victoria Dan</h6>
                        <p>Meetings and Events Manager</p>
                        <div class="social valign">
                            <div class="full-width">
                                <a href="about.html#"><i class="ti-instagram"></i></a>
                                <a href="about.html#"><i class="ti-twitter"></i></a>
                                <a href="about.html#"><i class="ti-facebook"></i></a>
                                <a href="about.html#"><i class="ti-pinterest"></i></a>
                                <p>victoria@woodusahaedo.com</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>