<!DOCTYPE html>
<html>
  <head>
    {% seo %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="{{ site.url }}/favicon.png" rel="icon">
    <link href="{{ site.url }}/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="{{ site.url }}/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{ site.url }}/lib/animate/animate.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.0/css/ionicons.min.css" rel="stylesheet">
    <link href="{{ site.url }}/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="{{ site.url }}/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="{{ site.url }}/css/style.css" rel="stylesheet">
  </head>
  <body>

    {% include themes/_header_menu.html %}
    {% if page.is_post %}
    {% include home/intro.html %}
    <main id="main">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <article>
              <h1>{{ page.title }}</h1>
              {% if page.image %}
              <img src="{{ site.url }}/image/{{ page.image }}" class="img-responsive" />
              {% endif %}
              {% include post/before.html %}
              {{ content }}
              {% include post/after.html %}
            </article>
          </div>
          <div class="col-md-4">
            <h2>Hubungi Kami</h2>
            {% include part/kontakkami.html %}

            <h2>Lokasi Google Maps</h2>
            {{ site.kontak.googlemapsembed }}

            <h2>{{ page.main_title }}</h2>
            <ul>
              {% for sb in page.subkat %}
              <li><a href="{{ site.url }}/{{ page.main_slug }}/{{ sb.slug }}">{{ sb.nama }}</a></li>
              {% endfor %}
            </ul>

            <h2>{{ page.this_title }}</h2>
            <ul>
              {% for sb in page.after %}
              <li><a href="{{ site.url }}/{{ page.main_slug }}/{{ page.this_slug }}-{{ sb.slug }}">{{ page.this_title }} {{ sb.nama }}</a></li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </main>
    {% else %}
    {{ content }}
    {% endif %}
    {% include themes/_footer.html %} 

    <a href="index.html#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
    <!-- Uncomment below i you want to use a preloader -->
    <!-- <div id="preloader"></div> -->

    <!-- JavaScript Libraries -->
    <script src="{{ site.url }}/lib/jquery/jquery.min.js"></script>
    <script src="{{ site.url }}/lib/jquery/jquery-migrate.min.js"></script>
    <script src="{{ site.url }}/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="{{ site.url }}/lib/easing/easing.min.js"></script>
    <script src="{{ site.url }}/lib/mobile-nav/mobile-nav.js"></script>
    <script src="{{ site.url }}/lib/wow/wow.min.js"></script>
    <script src="{{ site.url }}/lib/waypoints/waypoints.min.js"></script>
    <script src="{{ site.url }}/lib/counterup/counterup.min.js"></script>
    <script src="{{ site.url }}/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="{{ site.url }}/lib/isotope/isotope.pkgd.min.js"></script>
    <script src="{{ site.url }}/lib/lightbox/js/lightbox.min.js"></script>
    <!-- Contact Form JavaScript File -->
    <script src="{{ site.url }}/contactform/contactform.js"></script>

    <!-- Template Main Javascript File -->
    <script src="{{ site.url }}/js/main.js"></script>

  </body>
</html>